@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

.app{
  display: flex;
  height: 100vh;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  left: 0;
  width: 240px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #13161d;
  border-right: 1px rgba(252, 252, 252, 0.315) solid;
  font-family: sans-serif;
  font-weight: 100;
  letter-spacing: 0.2px;
}


/* still confused */
.sidebar > * {
  padding: 20px;
}  


.app-name{
  font-family: Bungee, sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  display: flex;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.877);
  padding-bottom: 20px;
  border-bottom: 1px rgba(255, 255, 255, 0.315) solid;
}
.fire{
  background-color: #6c63ff;
  font-size: 15px;
  padding: 5px;
  border-radius: 10px;
  margin-right: 10px;
}
.l-word{
  color: #6c63ff;
}

.sidebar-section{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-section a {
  font-size: 13px;
  color: rgb(188, 176, 176);
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.2s ease, color 0.2s ease, ;
}



.sidebar-section a:hover{
  background-color: rgba(255, 255, 255, 0.052) ;
  color: white;

}

.sidebar-section a.active {
  background-color: #20223f;
  border: #180ded68 solid 1px;
  color: white;
  box-shadow: 0 0 10px rgba(108, 99, 255, 0.2);
}

.sidebar-section p {
  color: rgba(253, 253, 253, 0.708);
  font-size: 10px;
}

.sidebar-footer{
  padding: 10px 16px; 
  display: flex;
  align-items: center;
  gap: 20px; 
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.507);
  margin-top: auto;

}

.profile-pic img{
  background-color: rgb(84, 98, 63);
  height: 35px;
  width: 35px;
  border-radius: 20px;

}
/* main{

  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  padding: 20px 40px */
/* 
} */
main{
  position: fixed;
  top: 0;
  left: 240px;
  background-color: #0d0f14;
  right: 0;
  height: 100vh;
  overflow-y: scroll;
  padding: 20px 40px;
}
 
main header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
}

main header h1{
  color: white;
  font-family: Bungee, sans-serif;
  font-weight: lighter;
  font-size:30px;
}
main header h1:before{
  content: "Monday, 23-march-2026";
  font-size: 12px;
  position: absolute;
  bottom: -15px;
  left: 0px;
  
  color:rgba(255, 255, 255, 0.507) ;
  font-weight: 100;
  font-family: sans-serif;
  letter-spacing: 0.5px;
}


main header button{
  background-color: #6c63ff;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 11px;
  min-width: max-content;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
}

.week-date{
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.daywise{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #13161d;
  height: 60px;
  width: 50px;
  color: white;
  border: solid rgba(255, 255, 255, 0.228) 1px;
  border-radius: 10px;
}

.stats-raw{
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 30px;
}
.stats-raw div{
  height: 120px;
  background-color: #13161d;
  color: white;
  border: solid rgba(255, 255, 255, 0.228) 1px;
  border-radius: 20px;
  border-top: #6c63ff solid 2px;
}
.content-grid{
  display: grid;
  grid-template-columns: 3fr 1fr;

  gap: 10px;
}
.content-grid div { 
 display: flex;
 flex-direction: column;
 gap: 20px;
  
}
.fade-in, .fade-out, .daily-note{
  height: 120px;
   background-color: #13161d;
   border: solid rgba(255, 255, 255, 0.228) 1px;
   border-radius: 20px;
}
.fade-out{
  height: 250px;
}
.flex-card{
  display: flex;
  flex-direction: column;
}

.today-score, .activity-hotmap{
  background-color: #13161d;
   border: solid rgba(255, 255, 255, 0.228) 1px;
   border-radius: 20px;
   height: 255px;
}